/* style.css */
:root {
    --neon-blue: #08f;
    --dark-bg: #000;
    --font-futuristic: 'Orbitron', sans-serif;
}

body {
    background-color: var(--dark-bg);
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.social-button, .whatsapp-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 24px; /* Ajuste o tamanho conforme necessário */
}

.social-button {
    background-color: transparent; /* Remove a cor de fundo */
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Ajuste o tamanho conforme necessário */
}

.social-button:hover {
    background-color: lighten(var(--neon-blue), 10%);
}

.whatsapp-button {
    display: inline-flex; /**/
    align-items: center; /* Centraliza o conteúdo verticalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    margin: 10px;
    padding: 10px 20px;
    background-color: #25D366; /* Verde WhatsApp */
    color: white; /* Cor do texto */
    text-decoration: none;
    font-weight: bold; /* Torna o texto em negrito */
    border-radius: 25px; /* Laterais arredondadas */
    border: 2px solid white; /* Borda branca */
    font-size: 24px; /* Ajuste o tamanho conforme necessário */
    transition: background-color 0.3s;
}

/* Ajuste para ícones dentro dos botões */
.social-button i, .whatsapp-button i {
    font-size: 32px; /* Aumenta o tamanho do ícone */
    margin-right: 8px; /* Espaço entre o ícone e o texto */
}

.whatsapp-button:hover {
    background-color: darken(#25D366, 10%);
}

.church-info {
    text-align: center;
    margin-bottom: 20px; /* Ajuste conforme necessário */
}

.church-info h2 {
    font-size: 18px;
    color: #668;
    margin-bottom: 0; /* Reduzido para remover o espaço extra abaixo do título */
    line-height: 1.2; /* Ajuste para controlar o espaçamento entre linhas do título */
}

.church-info p {
    font-size: 16px;
    color: #668;
    margin-top: 5px; /* Reduzido para diminuir o espaço entre o título e o endereço */
}

.video-container, .map-container {
    margin: 20px 0;
}

.site-footer {
    text-align: center;
    background-color: transparent; /* Cor de fundo do rodapé */
    color: #ffffff; /* Cor do texto */
    font-size: 16px; /* Tamanho do texto */
}


@media (max-width: 768px) {
    .titulo {
        font-size: 28px; /* Reduz o tamanho do texto para smartphones */
    }
    
    .video-container iframe, .map-container iframe {
        width: 100%;
        height: auto;
        min-height: 200px; /* Ajuste conforme necessário */
    }
    .church-info h2 {
        font-size: 16px; /* Reduz o tamanho do texto para smartphones */
    }

    .church-info p {
        font-size: 14px; /* Reduz o tamanho do texto para smartphones */
    }
    
}