/* Reset de estilos específicos mantidos para personalização */
html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #000 !important; /* Mantém o fundo preto */
}

body {
    padding-top: 60px; /* Ajuste este valor conforme a altura do seu navbar */
}

.main-content {
    padding-top: 60px; /* Ajuste este valor conforme a altura do seu navbar */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav-link {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    color: var(--dark-bg);
}

#navbar-center-icon-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar-center-icon-text img {
    height: 20px;
}

.fa-youtube, .fa-instagram {
    color: #ffffff;
}

.social-icons {
    text-align: left;
}

.social-icon {
    margin-right: 20px;
}

.audio-player {
    text-align: right;
}

.carousel-item {
    height: 0;
    padding-top: 37.8%;
    position: relative;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    border: none;
    background: none;
}

.btn {
    border: none;
}

#verse {
    font-style: italic;
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 0.25rem;
    color: #fff;
}

.church-info {
    text-align: center;
    color: white;
    font-size: 0.8rem;
}

.church-info h2 {
    font-size: 14px;
    color: rgb(177, 177, 177);
    margin-bottom: 0;
    line-height: 1.2;
}

.church-info p {
    font-size: 12px;
    color: rgb(177, 177, 177);
    margin-top: 5px;
}

.site-footer {
    text-align: center;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
}

@media (max-width: 768px) {
    body {
        padding-top: 50px;
    }

    .main-content {
        padding-top: 50px;
    }

    .nav-link {
        padding: 0.5rem;
        font-size: 1rem;
    }

    .social-icons {
        margin-bottom: 10px;
    }

    .social-icons, .audio-player {
        text-align: center;
    }

    .social-icon {
        margin-right: 10px;
    }

    .social-icon, .audio-player {
        max-width: 100%;
        padding: 0 10px;
    }
    
    .carousel {
        margin-top: 5px; /* Reduz a margem superior do carrossel */
    }

    #verse {
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        display: block;
    }

    .map-container iframe {
        width: 100%;
        height: auto;
        min-height: 200px;
    }

    .church-info h2 {
        font-size: 12px;
    }

    .church-info p {
        font-size: 10px;
    }
}